*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(90deg,rgba(244, 104, 104, 0.697),rgb(111, 143, 214));
  background-color: rgb(199, 144, 4);
  color: azure;
}

.text1 {
  width: 100%;
  text-align: center;
  position: relative;
  top: 40%;
  transform: translateY(-60%);
}

.text2 {
  width: 100%;
  text-align: center;
  position: relative;
  top: 40%;
  transform: translateY(-60%);
}

div{
  transition: background-color 800ms;
}

a {color: azure;}

a:hover{
 color: rgba(93, 92, 92, 0.5);
}

#amp {
  width: 100%;
  text-align: center;
  position: relative;
  top: 40%;
  transform: translateY(-60%);
}

span{
  padding: 0 calc(0.15rem + 0.15vw);
  position: relative;
  opacity: 0;
}

span:not(#exclamtion,#w,#amp){
  bottom: -200px;
  opacity: 0;
  animation-name: appear;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;

}

span:nth-of-type(2) {
  animation-delay: 0.2s;
}
span:nth-of-type(3) {
  animation-delay: 0.4s;
}
span:nth-of-type(4) {
  animation-delay: 0.6s;
}
span:nth-of-type(5) {
  animation-delay: 1.2s;
}

@keyframes appear {
  0% {
    opacity: 0;
    bottom: -200px;
  }

  100% {
    opacity: 1;
    bottom: 0;
  }
}

#exclamtion {
bottom: 100px;
font-size: calc( em +  vw);
animation-name: exclamtion;
animation-duration: 1.5s;
animation-timing-function: ease-in;
animation-fill-mode: forwards;
animation-delay: 5.1s;
}

#w {
  bottom: 100px;
  animation-name: exclamtion;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-delay: 4s;
  }
  
  #amp {
    bottom: 100px;
    font-size: calc( em +  vw);
    animation-name: exclamtion;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-delay: 3.5s;
    }
    

@keyframes exclamtion {
0%{
  opacity: 0;
  bottom: 100px;
}
50% { 
  opacity: 1;
  bottom: 0;
}

65% {
  opacity: 1;
  bottom: 15 px;

}
100% {
  opacity: 1;
  bottom: 0;
}
}
@media (max-width:2000px)
{span {font-size: 90px;}}

@media (max-width:1200px)
{span {font-size: 75px;}}

@media (max-width:992px)
{span {font-size: 40px;}}

@media (max-width:480px)
{span {font-size: 26px;}}

@media (max-width:370px)
{span {font-size: 14px;}}

@media (max-width:260px)
{span {font-size: 10px;}}
